@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');


/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media (max-width:480px) {
 #membership
 {
   left: 39%
 }

  #slider, #overLay {
         width: 100%;
         height: 100%;
  }
  #contents_name, #js-clock{
    font:43px bold;
    margin-bottom: 15px;
    color: white;
  }

  #contents_searching{
    height: 40px;
    width: 340px;
    background-color: #ffffff;
    margin-bottom: 25px;
  }

  #contents_searching input{
    font-size: 16px;
    width: 245px;
    padding: 10px;
    border: 0;
    outline: none;
    float: left;
  }

  #contents_searching button{
    width: 55px;
    padding: 11px;
    border: 0;
    background-color: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
    }

}
@media (min-width: 768px) and (max-width: 1024px)
{
#contents
{
  top: 24%;
}
}






html,body,.slider{
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  height: 100%;
}

.overLay{
  width: 100%;
  height: 100%;
  background: url('../images/dot.png');
  position: absolute;
  top: 0;
  z-index: 10;
}

.slider {
       position:absolute;
       width: 100%;
       height: 100%;
       top: 0;


}

.background_01{
  width: 100%;
  height: 100%;
  background: url("../images/1.jpg");
  background-size: cover;
  background-position: center;
}

.background_02{
  width: 100%;
  height: 100%;
  background: url("../images/2.jpg");
  background-size: cover;
  background-position: center;
}

.background_03{
  width: 100%;
  height: 100%;
  background: url("../images/3.jpg");
  background-size: cover;
  background-position: center;
}

.background_04{
  width: 100%;
  height: 100%;
  background: url("../images/4.jpg");
  background-size: cover;
  background-position: center;
}

.membership{
  position: absolute;
  top: 1%;
  left: 48%;
  text-align: center;
  margin-left: -40px;
  z-index: 20;
}
.membership a{
  color: white;
  display: inline-block;
  width: 70px;
  height: 25px;
  line-height: 25px;
  border: 1px solid white;
  text-decoration:none;
  font-size: 16px;
  margin-right: 25px
}

.membership a:hover{color: #fbbc05; border-color: #fbbc05;}

.membership a:last-child{margin-right: 0;}

.contents{
  position: absolute;
  top: 36%;
  left: 48%;
  margin-left: -160px;
  margin-top: -85px;
  text-align: center;
  z-index: 20;
}

.contents_name, .js-clock{
  font:62px bold;
  margin-bottom: 25px;
  color: white;
}



 .contents_searching input:-ms-input-placeholder {color:#a8a8a8;}
 .contents_searching input:: -webkit-input-placeholder {color:#a8a8a8;}
 .contents_searching input::-moz-placeholder {color: #a8a8a8;}

.contents_searching{
  height: 40px;
  width: 402px;
  background-color: #ffffff;
  margin-bottom: 25px;
}

.contents_searching input{
  font-size: 16px;
  width: 325px;
  padding: 10px;
  border: 0;
  outline: none;
  float: left;
}

.contents_searching button{
  width: 55px;
  padding: 11px;
  border: 0;
  background-color: #1b5ac2;
  outline: none;
  float: right;
  color: #ffffff;
  }


.contents_list{font-size: 0;}

.contents_list li{
  display: inline-block;
  width: 52px;
  height: 52px;
  line-height: 52px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 25px;
  margin-bottom: 20px;
   overflow: hidden;
}

.contents_list li:last-child{margin-right: 0;}

.contents_list li a{
  color: white;
}

.contents_list li:hover{border-color: #fbbc05;}
.contents_list li a:hover{display:none;}
