
  #image{
    margin-left: 18px auto 17px;
    margin-top: 50px;
  }
  
  #title{
    width: 650px;
    margin: 18px auto 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid LightGray;
  }
  #title textarea{
    display: block;
    width: 80%;
    height: 42px;
    border: none;
    font-size: 20px;
    resize: none;
    color: black;
    outline: none;
    line-height: 40px;
    overflow: hidden;
    letter-spacing: -.4px;
  }
  #description{
    width: 650px;
    margin: 18px auto 17px;
    padding-bottom: 26px;
  }
  #description textarea{
    display: block;
    font-size: 20px;
    height: 200px;
    width: 80%;
    color: black;
    overflow: hidden;
    border: none;
    resize: none;
    outline: none;
  }
  #submit_ui{
    width: 860px;
    margin: 18px auto 17px;
  }

  .membership{
    position: absolute;
    top: 1%;
    left: 50%;
    text-align: center;
    margin-left: -40px;
    z-index: 20;
  }
  .membership a{
    display: inline-block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-decoration:none;
    font-size: 16px;
    margin-right: 25px;

    color: black;
    border: 1px solid black;
  }
  
  .membership a:hover{color: #fbbc05; border-color: #fbbc05;}
  
  .membership a:last-child{margin-right: 0;}